@model IEnumerable<Expense>

<h1>Index - Expenses</h1>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Expenses List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Expenses" asp-action="Create" class="btn btn-primary">Create new Expense</a>
        </div>
    </div>
    @{ if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">Expense name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td scope="row" width="35%">@item.ExpenseName</td>
                            <td scope="row" width="35%">@item.Amount</td>
                            <td scope="row" width="30%">
                                <div class="w-100 btn-group" role="group">
                                    <a asp-controller="Expenses" asp-action="Update" asp-route-Id="@item.Id" class="btn btn-primary mx-1">Update</a>
                                    <a asp-controller="Expenses" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger mx-1">Dalete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No Expenses Created Yet</p>
        }
    }
</div>